<footer class="site-footer footer-dark">
    <div class="footer-bottom overlay-wraper bg-white">
        <div class="overlay-main"></div>
        <div class="container p-t30">
            <div class="mt-footer-bot-center">
                <span class="copyrights-text">
                    Nome da empresa + endereço.<br/>
                    © <span id="currentYear">@DateTime.Now.Year</span> ACFisioterapia LTDA. Todos os direitos reservados.
                </span>
            </div>
        </div>
    </div>
</footer>
