<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />    
    <meta name="description" content="" />
    
    <!-- Favicon -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
    
    <!-- Page Title -->
    <title>Implastic</title>
    
    <!-- Mobile Specific-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- [if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
	<![endif] -->
    
    <!-- Bootstrap Css-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    
    <!-- Fontawesome Css -->
    <link rel="stylesheet" type="text/css" href="css/fontawesome/css/font-awesome.min.css" />
    
    <!-- Flaticon Css-->
    <link rel="stylesheet" type="text/css" href="css/flaticon.min.css">
    
    <!-- Animate Css --> 
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    
    <!-- Owl Carousel Css -->
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    
    <!-- Bootstrap Select Css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">
    
    <!-- Magnific Popup Css -->
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.min.css">
    
    <!-- Loader Css-->
    <link rel="stylesheet" type="text/css" href="css/loader.min.css"> 
       
    <!-- Main Style Css -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <!-- Color Theme Change Css -->
    <link rel="stylesheet" class="skin" type="text/css" href="css/skin/skin-3.css">
    
    <!-- Custom Css-->
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    


    <!-- Revolution Slider Css -->
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/settings.css">
    
    <!-- Revolution Slider Css -->
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/navigation.css">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700" rel="stylesheet">  
    
	         
    
</head>

<body>

	<div class="page-wraper"> 
       	
        <!-- HEADER START -->
        <header class="site-header header-style-6">
        
            <div class="top-bar top-bar-liner bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="mt-topbar-right clearfix">
                        	<ul class="list-unstyled pull-right tb-info-liner">
                                <li><i class="text-primary">Nós temos a solução para seu processo!</i></li>
                            </ul>                        
                        	<ul class="list-inline pull-right tb-social-liner">
                                <li><a href="https://www.linkedin.com/in/implastic-ltda-634a0b145/" target="_blank" class="fa fa-linkedin"></a></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Search Link -->

            <div class="main-bar header-middle bg-dark">
                <div class="container">
                    <div class="logo-header">
                        <a href="/">
                            <img class="logo" width="216" height="37" alt="" />
                        </a>
                    </div>
                    <div class="header-info">
                        <ul>
                            <li>
                                <div>
                                    <div class="icon-sm">
                                        <span class="icon-cell  text-primary"><i class="iconmoon-smartphone"></i></span>
                                    </div>
                                    <div class="icon-content">
                                        <strong>Telefone</strong>
                                        <span class="text-white">+55 11 4192 2211</span>
                                    </div>
                                </div>
                            </li>                        
                            <li>
                                <div>
                                    <div class="icon-sm">
                                        <span class="icon-cell  text-primary"><i class="iconmoon-envelope"></i></span>
                                    </div>
                                    <div class="icon-content">
                                        <strong>Email</strong>
                                        <span class="text-white">vendas@implastic.com.br</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="sticky-header main-bar-wraper">
                <div class="main-bar header-botton nav-bg-primary">
                    <div class="container">
                        <!-- NAV Toggle Button -->
                        <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <!-- MAIN Vav -->
                        <div class="header-nav navbar-collapse collapse ">
                            <ul class=" nav navbar-nav">
                                <li class="active">
                                    <a href="/">Home</a>
                                </li>

                                <li>
                                    <a href="javascript:;">Produtos / Equipamentos<i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="sistemas-uv.html">Sistemas UV</a></li>
                                        <li><a href="sistemas-medicao-espessura.html">Sistemas de Medição de Espessura / Gramatura</a></li>
                                        <li><a href="equip-extrusao.html">Equipamentos de Extrusão</a></li>
                                        <li><a href="impressoras.html">Impressoras</a></li>
                                        <li><a href="linhas-extrusao.html">Linhas de Extrusão (Projetos Turn Key)</a></li>
                                        <li><a href="processamento-plastico.html">Processamento de Plástico</a></li>
                                    </ul>
                                </li> 
                                                               
                                <li>
                                    <a href="suporte-tecnico.html">Suporte Técnico</a>
                                </li>
                                
                                <li>
                                    <a href="pecas.html">Vendas de Peças de Reposição</a>
                                </li>

                                <li>
                                    <a href="contato.html">Contato</a>
                                </li>
                             </ul>
                        </div>
                    </div>
                </div>
            </div>

        </header>

        <!-- Content Mid part-->
        <div class="page-content">
        
            <!-- Slider -->
            <div class="main-slider style-two default-banner">
           		<div class="tp-banner-container">
                    <div class="tp-banner" >
                        <!-- START REVOLUTION SLIDER 5.4.1 -->
                        <div id="rev_slider_1077_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="scroll-effect136" data-source="gallery" style="background-color:#111111;padding:0px;">
                        <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
                            <div id="rev_slider_1077_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
                                <ul>	
                                    <!-- SLIDE  -->
                                    <li data-index="rs-100" data-transition="slotfade-vertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-thumb="images/banner/equipamentos.png"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Equipamentos" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="images/banner/equipamentos.png"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->
                                        
                                        <!-- LAYER NR. 1 -->
                                		<div class="tp-caption tp-shape tp-shapewrapper  " 
                                            id="slide-100-layer-1" 
                                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                            data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
                                            data-width="full"
                                            data-height="['400','400','400','550']"
                                            data-whitespace="nowrap"
                                            data-type="shape" 
                                            data-basealign="slide" 
                                            data-responsive_offset="off" 
                                            data-responsive="off"
                                            data-frames='[{"from":"opacity:0;","speed":100,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":0,"to":"opacity:0;","ease":"nothing"}]'
                                            data-textAlign="['left','left','left','left']"
                                            data-paddingtop="[0,0,0,0]"
                                            data-paddingright="[0,0,0,0]"
                                            data-paddingbottom="[0,0,0,0]"
                                            data-paddingleft="[0,0,0,0]"
                                            style="z-index: 5;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);
                                            border-width:0px;background:linear-gradient(to top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);cursor:default;"> 
                                        </div>
                                        
                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption tp-shape tp-shapewrapper  " 
                                            id="slide-100-layer-2" 
                                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                            data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']" 
                                            data-width="full"
                                            data-height="['400','400','400','550']"
                                            data-whitespace="nowrap"
                                            data-type="shape" 
                                            data-basealign="slide" 
                                            data-responsive_offset="off" 
                                            data-responsive="off"
                                            data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                                            data-textAlign="['left','left','left','left']"
                                            data-paddingtop="[0,0,0,0]"
                                            data-paddingright="[0,0,0,0]"
                                            data-paddingbottom="[0,0,0,0]"
                                            data-paddingleft="[0,0,0,0]"
                                            style="z-index: 5;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);
                                            border-width:0px;background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);cursor:default;"> 
                                        </div>
                                
                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption BigBold-Title   tp-resizeme" 
                                            id="slide-100-layer-3" 
                                            data-x="['left','left','left','left']" data-hoffset="['50','50','30','17']" 
                                            data-y="['bottom','bottom','bottom','bottom']" data-voffset="['110','110','180','180']" 
                                            data-fontsize="['90','70','50','30']"
                                            data-lineheight="['100','90','60','60']"
                                            data-fontweight="['600','600','600','600']"
                                            data-width="['none','none','none','400']"
                                            data-height="none"
                                            data-whitespace="['nowrap','nowrap','nowrap','normal']"
                                 
                                            data-type="text" 
                                            data-basealign="slide" 
                                            data-responsive_offset="off" 
                                
                                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},
                                            {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                                            data-textAlign="['left','left','left','left']"
                                            data-paddingtop="[10,10,10,10]"
                                            data-paddingright="[0,0,0,0]"
                                            data-paddingbottom="[10,10,10,10]"
                                            data-paddingleft="[0,0,0,0]"
                                
                                            style="z-index: 6; 
                                            text-transform:uppercase;
                                            color:#fff;
                                            font-family: 'Rajdhani', sans-serif;
                                            "><span class="text-primary">  Equipamentos</span></div>
                                
                                        <!-- LAYER NR. 4 -->
                                        <div class="tp-caption BigBold-SubTitle  " 
                                            id="slide-100-layer-4" 
                                            data-x="['left','left','left','left']" data-hoffset="['55','55','33','20']" 
                                            data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','1','74','78']" 
                                            data-fontsize="['15','15','15','13']"
                                            data-lineheight="['24','24','24','20']"
                                            data-width="['410','410','410','280']"
                                            data-height="['60','100','100','100']"
                                            data-whitespace="normal"
                                 
                                            data-type="text" 
                                            data-basealign="slide" 
                                            data-responsive_offset="off" 
                                            data-responsive="off"
                                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
                                            data-textAlign="['left','left','left','left']"
                                            data-paddingtop="[0,0,0,0]"
                                            data-paddingright="[0,0,0,0]"
                                            data-paddingbottom="[0,0,0,0]"
                                            data-paddingleft="[0,0,0,0]"
                                
                                            style="z-index: 7; 
                                            color:#fff;
                                            ">
                                            A Implastic representa as seguintes empresas aqui no Brasil:
                                            Heraeus, NDC, NORDSON, KASE e COLINES.
                                            </div>
                                
                                        <!-- LAYER NR. 5 -->
                                        <div class="tp-caption BigBold-Button rev-btn " 
                                            id="slide-100-layer-5" 
                                            data-x="['left','left','left','left']" data-hoffset="['480','480','30','20']" 
                                            data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','20','20','20']"  
                                            data-width="none"
                                            data-height="none"
                                            data-whitespace="nowrap"
                                 
                                            data-type="button" 
                                            data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
                                            data-basealign="slide" 
                                            data-responsive_offset="off" 
                                            data-responsive="off"
                                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                            data-textAlign="['left','left','left','left']"
                                            data-paddingtop="[15,15,15,15]"
                                            data-paddingright="[50,50,50,50]"
                                            data-paddingbottom="[15,15,15,15]"
                                            data-paddingleft="[50,50,0,0]"
                                
                                            style="z-index: 8; "><a href="#" class="site-button outline white">Leia Mais</a> </div>
                                
                                        
                                    </li>
                                    <!-- SLIDE  -->
                                    <li data-index="rs-200" data-transition="slotfade-vertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-thumb="images/banner/servico-tecnico.png"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Serviço Técnico" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="images/banner/servico-tecnico.png"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->
                                
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption tp-shape tp-shapewrapper  " 
                                            id="slide-200-layer-1" 
                                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                            data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
                                            data-width="full"
                                            data-height="['400','400','400','550']"
                                            data-whitespace="nowrap"
                                            data-type="shape" 
                                            data-basealign="slide" 
                                            data-responsive_offset="off" 
                                            data-responsive="off"
                                            data-frames='[{"from":"opacity:0;","speed":100,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":0,"to":"opacity:0;","ease":"nothing"}]'
                                            data-textAlign="['left','left','left','left']"
                                            data-paddingtop="[0,0,0,0]"
                                            data-paddingright="[0,0,0,0]"
                                            data-paddingbottom="[0,0,0,0]"
                                            data-paddingleft="[0,0,0,0]"
                                            style="z-index: 5;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);
                                            border-width:0px;background:linear-gradient(to top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);cursor:default;"> 
                                        </div>
                                        
                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption tp-shape tp-shapewrapper  " 
                                            id="slide-200-layer-2" 
                                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                            data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']" 
                                            data-width="full"
                                            data-height="['400','400','400','550']"
                                            data-whitespace="nowrap"
                                            data-type="shape" 
                                            data-basealign="slide" 
                                            data-responsive_offset="off" 
                                            data-responsive="off"
                                            data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                                            data-textAlign="['left','left','left','left']"
                                            data-paddingtop="[0,0,0,0]"
                                            data-paddingright="[0,0,0,0]"
                                            data-paddingbottom="[0,0,0,0]"
                                            data-paddingleft="[0,0,0,0]"
                                            style="z-index: 5;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);
                                            border-width:0px;background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);cursor:default;"> 
                                        </div>
                                
                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption BigBold-Title   tp-resizeme" 
                                            id="slide-200-layer-3" 
                                            data-x="['left','left','left','left']" data-hoffset="['50','50','30','17']" 
                                            data-y="['bottom','bottom','bottom','bottom']" data-voffset="['110','110','180','180']" 
                                            data-fontsize="['90','70','50','30']"
                                            data-lineheight="['100','90','60','60']"
                                            data-fontweight="['600','600','600','600']"
                                            data-width="['none','none','none','400']"
                                            data-height="none"
                                            data-whitespace="['nowrap','nowrap','nowrap','normal']"
                                 
                                            data-type="text" 
                                            data-basealign="slide" 
                                            data-responsive_offset="off" 
                                
                                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},
                                            {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                                            data-textAlign="['left','left','left','left']"
                                            data-paddingtop="[10,10,10,10]"
                                            data-paddingright="[0,0,0,0]"
                                            data-paddingbottom="[10,10,10,10]"
                                            data-paddingleft="[0,0,0,0]"
                                
                                            style="z-index: 6; 
                                            text-transform:uppercase;
                                            color:#fff;
                                            font-family: 'Rajdhani', sans-serif;
                                            "><span class="text-primary"> Serviço Técnico</span></div>
                                 
                                        <!-- LAYER NR. 4 -->
                                        <div class="tp-caption BigBold-SubTitle  " 
                                            id="slide-200-layer-4" 
                                            data-x="['left','left','left','left']" data-hoffset="['55','55','33','20']" 
                                            data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','1','74','78']" 
                                            data-fontsize="['15','15','15','13']"
                                            data-lineheight="['24','24','24','20']"
                                            data-width="['410','410','410','280']"
                                            data-height="['60','100','100','100']"
                                            data-whitespace="normal"
                                 
                                            data-type="text" 
                                            data-basealign="slide" 
                                            data-responsive_offset="off" 
                                            data-responsive="off"
                                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
                                            data-textAlign="['left','left','left','left']"
                                            data-paddingtop="[0,0,0,0]"
                                            data-paddingright="[0,0,0,0]"
                                            data-paddingbottom="[0,0,0,0]"
                                            data-paddingleft="[0,0,0,0]"
                                
                                            style="z-index: 7; 
                                            color:#fff;
                                            ">
                                            Prestamos suporte técnico para equipamentos das empresas HERAEUS e NDC
                                            </div>
                                
                                        <!-- LAYER NR. 5 -->
                                        <div class="tp-caption BigBold-Button rev-btn " 
                                            id="slide-200-layer-5" 
                                            data-x="['left','left','left','left']" data-hoffset="['480','480','30','20']" 
                                            data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','20','20','20']"  
                                            data-width="none"
                                            data-height="none"
                                            data-whitespace="nowrap"
                                 
                                            data-type="button" 
                                            data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
                                            data-basealign="slide" 
                                            data-responsive_offset="off" 
                                            data-responsive="off"
                                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                            data-textAlign="['left','left','left','left']"
                                            data-paddingtop="[15,15,15,15]"
                                            data-paddingright="[50,50,50,50]"
                                            data-paddingbottom="[15,15,15,15]"
                                            data-paddingleft="[50,50,0,0]"
                                
                                            style="z-index: 8; "><a href="suporte-tecnico.html" class="site-button outline white">Leia Mais</a> </div>
                                
                                        
                                    </li>
                                    <!-- SLIDE  -->
                                    <li data-index="rs-300" data-transition="slotfade-vertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-thumb="images/banner/venda-pecas.png"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Vendas e Peças" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="images/banner/venda-pecas.png"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->
                                        
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption tp-shape tp-shapewrapper  " 
                                            id="slide-300-layer-1" 
                                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                            data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
                                            data-width="full"
                                            data-height="['400','400','400','550']"
                                            data-whitespace="nowrap"
                                            data-type="shape" 
                                            data-basealign="slide" 
                                            data-responsive_offset="off" 
                                            data-responsive="off"
                                            data-frames='[{"from":"opacity:0;","speed":100,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":0,"to":"opacity:0;","ease":"nothing"}]'
                                            data-textAlign="['left','left','left','left']"
                                            data-paddingtop="[0,0,0,0]"
                                            data-paddingright="[0,0,0,0]"
                                            data-paddingbottom="[0,0,0,0]"
                                            data-paddingleft="[0,0,0,0]"
                                            style="z-index: 5;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);
                                            border-width:0px;background:linear-gradient(to top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);cursor:default;"> 
                                        </div>
                                        
                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption tp-shape tp-shapewrapper  " 
                                            id="slide-300-layer-2" 
                                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                            data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']" 
                                            data-width="full"
                                            data-height="['400','400','400','550']"
                                            data-whitespace="nowrap"
                                            data-type="shape" 
                                            data-basealign="slide" 
                                            data-responsive_offset="off" 
                                            data-responsive="off"
                                            data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                                            data-textAlign="['left','left','left','left']"
                                            data-paddingtop="[0,0,0,0]"
                                            data-paddingright="[0,0,0,0]"
                                            data-paddingbottom="[0,0,0,0]"
                                            data-paddingleft="[0,0,0,0]"
                                            style="z-index: 5;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);
                                            border-width:0px;background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);cursor:default;"> 
                                        </div>
                                
                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption BigBold-Title   tp-resizeme" 
                                            id="slide-300-layer-3" 
                                            data-x="['left','left','left','left']" data-hoffset="['50','50','30','17']" 
                                            data-y="['bottom','bottom','bottom','bottom']" data-voffset="['110','110','180','180']" 
                                            data-fontsize="['90','70','50','30']"
                                            data-lineheight="['100','90','60','60']"
                                            data-fontweight="['600','600','600','600']"
                                            data-width="['none','none','none','400']"
                                            data-height="none"
                                            data-whitespace="['nowrap','nowrap','nowrap','normal']"
                                 
                                            data-type="text" 
                                            data-basealign="slide" 
                                            data-responsive_offset="off" 
                                
                                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},
                                            {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                                            data-textAlign="['left','left','left','left']"
                                            data-paddingtop="[10,10,10,10]"
                                            data-paddingright="[0,0,0,0]"
                                            data-paddingbottom="[10,10,10,10]"
                                            data-paddingleft="[0,0,0,0]"
                                
                                            style="z-index: 6; 
                                            text-transform:uppercase;
                                            color:#fff;
                                            font-family: 'Rajdhani', sans-serif;
                                            "><span class="text-primary">  Vendas e peças</span></div>

                                        <!-- LAYER NR. 4 -->
                                        <div class="tp-caption BigBold-SubTitle  " 
                                            id="slide-300-layer-4" 
                                            data-x="['left','left','left','left']" data-hoffset="['55','55','33','20']" 
                                            data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','1','74','78']" 
                                            data-fontsize="['15','15','15','13']"
                                            data-lineheight="['24','24','24','20']"
                                            data-width="['410','410','410','280']"
                                            data-height="['60','100','100','100']"
                                            data-whitespace="normal"
                                 
                                            data-type="text" 
                                            data-basealign="slide" 
                                            data-responsive_offset="off" 
                                            data-responsive="off"
                                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
                                            data-textAlign="['left','left','left','left']"
                                            data-paddingtop="[0,0,0,0]"
                                            data-paddingright="[0,0,0,0]"
                                            data-paddingbottom="[0,0,0,0]"
                                            data-paddingleft="[0,0,0,0]"
                                            style="z-index: 7; 
                                            color:#fff;
                                            ">
                                            Comercialização de peças das empresas representadas
                                            </div>
                                
                                        <!-- LAYER NR. 5 -->
                                        <div class="tp-caption BigBold-Button rev-btn " 
                                            id="slide-300-layer-5" 
                                            data-x="['left','left','left','left']" data-hoffset="['480','480','30','20']" 
                                            data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','20','20','20']" 
                                            data-width="none"
                                            data-height="none"
                                            data-whitespace="nowrap"
                                 
                                            data-type="button" 
                                            data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
                                            data-basealign="slide" 
                                            data-responsive_offset="off" 
                                            data-responsive="off"
                                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                            data-textAlign="['left','left','left','left']"
                                            data-paddingtop="[15,15,15,15]"
                                            data-paddingright="[50,50,50,50]"
                                            data-paddingbottom="[15,15,15,15]"
                                            data-paddingleft="[50,50,0,0]"
                                
                                            style="z-index: 8; "><a href="pecas.html" class="site-button outline white">Leia Mais</a> </div>
                                
                                        
                                    </li>
                                </ul>
                                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	
                            </div>
                        </div>
                        <!-- END REVOLUTION SLIDER -->
                    </div>
            	</div>
            </div>

            <!-- Quem Somos -->
            <div class="section-full p-t80 bg-gray">
            	<div class="container">
                    <!-- TITLE START-->
                    <div class="section-head text-center">
                        <h2 data-title="Implastic">Quem Somos </h2>
                        <div class="mt-separator-outer">
                            <div class="mt-separator bg-primary"></div>
                        </div>                        
                    </div>
                    <!-- TITLE END-->
                </div>
            </div>
                      
            <div class="section-full p-b50 bg-no-repeat bg-center bg-white" style="background-image:url(images/background/bg-map.png);">
            
                <div class="container">
                        
                        <div class="row">

                            <div class="col-md-12">
                                <div class="mt-box m-b25">
                                    <h2 class="display-block m-b15 m-t0">A Implastic representa conceituadas empresas de equipamentos industriais do segmento plástico,</h2>
                                    <p class="m-b15">procurando oferecer soluções completas para produção, redução de custos e controle de qualidade.
                                         O renome internacional de nossas representadas são uma garantia de alta performance orientando
                                        nossos clientes na aquisição dos melhores equipamentos.</p>
                                        <p>Temos equipamentos e produtos como:</p>
                                    <ul class="list-check-circle primary m-b20 text-uppercase">
                                        <li>Linhas de extrusão para filmes: stretch, CPP, fralda, BGB.</li>
                                        <li>Bombas de engrenagens, troca-telas, pelletizadores, jet cleaners.</li>
                                        <li>Equipamentos de medição de espessura/gramatura e controle.</li>
                                        <li>Equipamentos de inspeção da produção por câmeras.</li>
                                        <li>Impressoras offset e digitais.</li>
                                        <li>Sistemas de cura por Feixe de Elétrons (EB).</li>
                                        <li>Equipamentos de cura por UV.</li>
                                    </ul>
                                    <p>Navegue por nosso site e conheça um pouco mais sobre as empresas e produtos que comercializamos.<br />
                                    A Implastic terá a solução mais adequada para melhorar ainda mais a produção de sua empresa.<br />
                                    Nossa função é ajudá-lo a encontrar as melhores alternativas com total sigilo e máxima eficiência.</p>
                                </div>
                            </div>
                        </div>
                 
                </div>
           </div>
            
             <!-- Representadas -->
            <div class="section-full bg-change-section overlay-wraper p-t80 p-b50">
                <div class="overlay-main bg-secondry opacity-09"></div>
                <div class="container">
                    <!-- TITLE START-->
                    <div class="section-head text-center text-white">
                        <h2 data-title="Implastic">Representadas </h2>
                        <div class="mt-separator-outer">
                            <div class="mt-separator bg-primary"></div>
                        </div>                        
                    </div>
                    <!-- TITLE END-->
                    <div class="section-content">
               			<div class="row">
                            <div class="equal-wraper">
                                <div class="col-md-4 col-sm-6">
                                    <a href="sistemas-uv.html">
                                        <div class="mt-icon-box-wraper  p-a30 bgcall-block hover-shadow hover-border-outer hover-border m-b30">
                                            <div class="icon-content">
                                                <div class="col-md-4 col-sm-4">
                                                    <img src="images/client-logo/heraeus.png" />
                                                </div>
                                                <div class="col-md-8 col-sm-8">
                                                    <h4 class="mt-tilte  m-b15 text-primary">Heraeus</h4>
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <p class="text-white rep-text">Fabricante americana e alemã de equipamentos de cura UV com as tecnologias de
                                                            Microondas e LED.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <a href="equip-extrusao.html">
                                        <div class="mt-icon-box-wraper   p-a30 bgcall-block hover-shadow hover-border-outer hover-border m-b30">
                                            <div class="icon-content">
                                                <div class="col-md-4 col-sm-4">
                                                    <img src="images/client-logo/nordson.png" />
                                                </div>
                                                <div class="col-md-8 col-sm-8">
                                                    <h4 class="mt-tilte  m-b15 text-primary">Nordson</h4>    
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <p class="text-white rep-text">Fabricante americana de equipamentos para extrusoras como troca–telas, bombas de
                                                        engrenagens, pelletizadores, válvulas diversoras, fornos de limpeza e misturadores estáticos.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <a href="sistemas-medicao-espessura.html">
                                        <div class="mt-icon-box-wraper  p-a30 bgcall-block hover-shadow hover-border-outer hover-border m-b30">
                                            <div class="icon-content">
                                                <div class="col-md-4 col-sm-4">
                                                    <img src="images/client-logo/ndc.png" />
                                                </div>
                                                <div class="col-md-8 col-sm-8">
                                                    <h4 class="mt-tilte  m-b15 text-primary">NDC</h4>
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <p class="text-white rep-text">Fabricante americana de sistemas de medição e controle de espessura e gramatura, possui
                                                        sensores com tecnologias por infravermelho, LED, LASER, BETA, GAMA e Raio-X.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <a href="impressoras.html">
                                        <div class="mt-icon-box-wraper  p-a30 bgcall-block hover-shadow hover-border-outer hover-border m-b30">
                                            <div class="icon-content">
                                                <div class="col-md-4 col-sm-4">
                                                    <img src="images/client-logo/kase.png" />
                                                </div>
                                                <div class="col-md-8 col-sm-8">
                                                    <h4 class="mt-tilte  m-b15 text-primary">KASE</h4>
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <p class="text-white rep-text">Fabricante americana de impressoras para baldes, copos, tubos e tampas, com as tecnologias
                                                            OFFSET, HEAT TRANSFER e DIGITAL.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <a href="linhas-extrusao.html">
                                        <div class="mt-icon-box-wraper   p-a30 bgcall-block hover-shadow hover-border-outer hover-border m-b30">
                                            <div class="icon-content">
                                                <div class="col-md-4 col-sm-4">
                                                        <img src="images/client-logo/colines.png" />
                                                    </div>
                                                    <div class="col-md-8 col-sm-8">
                                                        <h4 class="mt-tilte  m-b15 text-primary">Colines</h4>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12">
                                                        <p class="text-white rep-text">Fabricante italiana de linhas de extrusão de filmes e chapas planas, como STRETCH, CPP,
                                                            Barreira, MOPP, Respirável, higiênicos e Bubble Guard.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <a href="processamento-plastico.html">
                                        <div class="mt-icon-box-wraper   p-a30 bgcall-block hover-shadow hover-border-outer hover-border m-b30">
                                            <div class="icon-content">
                                                <div class="col-md-4 col-sm-4">
                                                        <img src="images/client-logo/mas.png" />
                                                    </div>
                                                    <div class="col-md-8 col-sm-8">
                                                        <h4 class="mt-tilte  m-b15 text-primary">MAS</h4>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12">
                                                        <p class="text-white rep-text">Fabricante austríaca de linhas de extrusão para reciclagem e compostos.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>   
                     
        <!-- Footer Part-->
        <footer class="site-footer footer-dark">
            <!-- Footer Copyright Part -->
            <div class="footer-bottom overlay-wraper bg-white">
                <div class="overlay-main"></div>
                <div class="container p-t30">
                    <div class="mt-footer-bot-center">
                        <span class="copyrights-text">
                            Implastic Comércio Internacional LTDA. Av. Real, 220 - SALA 3, Aldeia da Serra CEP 06429-200, Barueri, São Paulo, Brasil.<br/>
                            © <span id="currentYear">2018</span> Implastic LTDA. Todos os direitos reservados.
                        </span>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scroll Top Button -->
		<button class="scroltop"><span class="fa fa-arrow-right relative" id="btn-vibrate"></span></button>
 	</div>
<!-- Loading Div ===== -->
<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="loading_progress-container">
	        <div class="loading_progress">
		        <div class="loading_progress-bar">
			        <div class="loading_progress-shadow"></div>
		        </div>
	        </div>
        </div>

    </div>
</div>
<!-- Loading Div ====== -->

<!-- JAVASCRIPT  FILES ========================================= -->

<!-- JQUERY.MIN JS --> 
<script src="js/jquery-1.12.4.min.js"></script>
<!-- BOOTSTRAP.MIN JS -->
<script src="js/bootstrap.min.js"></script>
<!-- FORM JS -->
<script src="js/bootstrap-select.min.js"></script>
<!-- FORM JS -->
<script src="js/jquery.bootstrap-touchspin.min.js"></script>
<!-- MAGNIFIC-POPUP JS -->
<script src="js/magnific-popup.min.js"></script>
<!-- WAYPOINTS JS -->
<script src="js/waypoints.min.js"></script>
<!-- COUNTERUP JS -->
<script src="js/counterup.min.js"></script>
<!-- COUNTERUP JS -->
<script src="js/waypoints-sticky.min.js"></script>
<!-- MASONRY  -->
<script src="js/isotope.pkgd.min.js"></script>
<!-- OWL  SLIDER  -->
<script src="js/owl.carousel.min.js"></script>
<!-- OWL  SLIDER  -->
<script src="js/jquery.owl-filter.js"></script>
<!-- PARALLAX BG IMAGE   --> 
<script src="js/stellar.min.js"></script>
<!-- ON SCROLL CONTENT ANIMTE   --> 
<script src="js/scrolla.min.js"></script>
<!-- CUSTOM FUCTIONS  -->
<script src="js/custom.js"></script>
<!-- SHORTCODE FUCTIONS  -->
<script src="js/shortcode.js"></script>

<!-- BACKGROUND SCROLL -->
<script  src="js/jquery.bgscroll.js"></script>

<!-- SLIDER REVOLUTION -->
<script  src="plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
<script  src="plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script  src="plugins/revolution/revolution/js/extensions/revolution-plugin.js"></script>
<!-- REVOLUTION SLIDER SCRIPT -->
<script src="js/rev-script-3.js"></script>



</body>

</html>
