<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<style>
	#contact {
		font-size: 16px;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
	}
	hr {
		border: 0;
		border-top: 1px solid #eee;
		margin: 20px 0;
	}
	</style>
</head>
<body style="width: 800px">
	<div>
		<img src="http://acfisioterapia.com.br/content/images/logo-1.png">
	</div>
	<hr>
	<div>
		<table id="contact">
			<tbody>
				<tr>
					<td>
						<b>Nome: </b>
					</td>
					<td>
						#NOME#
					</td>
				</tr>
				<tr>
					<td>
						<b>Email: </b>
					</td>
					<td>
						#EMAIL#
					</td>
				</tr>
				<tr>
					<td>
						<b>Mensagem: </b>
					</td>
					<td>
						#MENSAGEM#
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>